* {
  font-family: NoirPro, Helvetica, Arial, sans-serif;
  line-height: 136%;
  box-sizing: border-box;
  color: var(--color-text);
}
a {
  color: var(--color-red);
}
button,
input {
  -webkit-tap-highlight-color: transparent;
}
